<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Autodory Project</h2>
                <hr class="light">
                <p class="text-faded">
                  Autodory is a project to build the world first automatic door opener that transform old doors. 


                  <li>Education</li>
                  <li>Autistics</li>
                  <li>Depression</li>

                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
