<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Autodory Project</h2>
                <hr class="light">
                <p class="text-faded">
                  Autodory is a project to build the world first automatic door opener that transform old doors.

                  <ol>
                    <li>You can assemble them.</li>
                    <li>You can buy parts from us.</li>
                    <li>The parts are changable.</li>
                    <li>The apps are free for no web service or add ons.</li>
                    <li>The web service starts at $10. Add on at $1.</li>
                    <li>They are powered by battery.</li>
                    <li>The design are simple and sleek.</li>
                    <li>The material are renewable & biodegradable (tough but let's work towards this).</li>
                    <li>The prices are under from 89 to 150</li>
                    <li>The new product comes out every two years</li>
                    <li>You can buy it easily at various stalls</li>
                  </ol>

                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
